* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #101010;
}

/* Navigation */

nav {
    background: #171717;
    display: flex;
    justify-content: center;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav .menu {
    display: flex;
    list-style: none;
}

nav .menu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #C4C4C4;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .menu li a:hover {
    color: #D5FF3F;
}

nav .open-menu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .menu .close-menu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

/* Main */

/* First Section */

.wrapper {
    /* background-color: grey; */
    margin: 120px 100px;
    padding-top: 50px;
    display: flex;
}

.wrapper h1, h3, p {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #D5FF3F;
    font-weight: 800;
    cursor: default;
    padding-left: 10px;
}

.wrapper h1 {
    font-size: 4.5rem;
}

.wrapper h3 {
    margin-top: -20px;
    font-size: 3.5rem;
}

.wrapper p {
    margin-top: 50px;
    font-weight: 400;
    font-size: 1.1rem;
    color: #C4C4C4;
    padding-right: 110px;
    text-align: justify;
}

.wrapper #img1 {
    width: 600px;
    border-radius: 15px;
}

/* Section 2 */

.section2 {
    background-color: #171717;
    border-radius: 15px;
    margin: 120px 100px;
    padding-top: -20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section2 header {
    margin-top: 10px;
    text-align: end;
}

.section2 h2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #D5FF3F;
    font-size: 1.3rem;
    font-weight: 700;
}

.section2 h1 {
    margin-right: 50px;
}

.section2 h3 {
    margin-right: 50px;
}

.article-section {
    /* background-color: grey; */
    margin-right: 65px;
}

.article-section .article-main p {
    margin-top: 10px;
    margin-right: -110px;
    margin-left: 700px;
    text-align: justify;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #C4C4C4;
    font-size: 1.1rem;
    font-weight: 400;
}

.article-section img {
    margin-top: -900px;
    margin-bottom: 10px;
    margin-left: 70px;
    width: 420px;
    border-radius: 15px;
}

/* Section 3 */

.section3 {
    background-color: #171717;
    border-radius: 15px;
    margin: 120px 100px;
    padding: 50px;
    display: block;
}

.multimedia {
    display: flex;
}

.audio-section {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.audio-section h2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #C4C4C4;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px;
    margin-left: 80px;
}

.audio-section img {
    width: 500px;
    margin-left: 80px;
    border-radius: 15px;
}

.audio-section figcaption {
    margin-top: 5px;
    margin-bottom: -10px;
    margin-left: 175px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #C4C4C4;
    font-size: 1.3rem;
    font-weight: 700;
}

.audio-section audio {
    margin-top: 20px;
    margin-left: 175px;
}

.video-section {
    display: flex;
    flex-direction: column;
}

.video-section h2 {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #C4C4C4;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 10px;
    margin-left: 80px;
    text-align: center;
}

.video-section video {
    width: 550px;
    margin-top: 30px;
    margin-left: 80px;
    border-radius: 15px;
}

.video-section figcaption {
    margin-top: 30px;
    margin-bottom: -10px;
    margin-left: 180px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #C4C4C4;
    font-size: 1.7rem;
    font-weight: 700;
}

/* Section 4 */

.section4 {
    background-color: #171717;
    border-radius: 15px;
    margin: 120px 100px;
    padding: 50px;
    display: block;
    justify-content: center;
    text-align: center;
}

.section4 header h3 {
    margin-top: -15px;
}

form {
    max-width: 800px;
    margin: 7px auto;
    background-color: #C4C4C4;
    padding: 10px;
    border-radius: 10px;
}

fieldset {
    border: 2px solid #C4C4C4;
    border-radius: 8px;
    padding: 0 10px;
    margin-bottom: 0;
}

legend {
    font-size: 1.8rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 900;
    color: #101010;
}

form fieldset section {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #101010;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #171717;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

input[type="date"] {
    width: 100%;
}

input:focus {
    outline: none;
    border-color: #171717;
}

button {
    background-color: #D5FF3F;
    color: #171717;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

button:hover {
    background-color: #BCE138;
}

/* Section 5 */

.section5 {
    background-color: #171717;
    border-radius: 15px;
    margin: 120px 100px;
    padding-top: -20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section5 header {
    margin-top: 10px;
    text-align: end;
}

.section5 h1 {
    margin-right: 50px;
}

.section5 h3 {
    margin-right: 50px;
    margin-top: -10px;
}



/* Section 6 */

.section6 {
    background-color: #171717;
    border-radius: 15px;
    margin: 120px 100px;
    padding-top: -50px;
    padding-bottom: 40px;
}

.section6 header {
    margin-top: 70px;
    text-align: center;
}

.section6 h1 {
    margin-left: 20px;
}

.section6 h3 {
    margin-top: 5px;
}

#map {
    height: 500px;
    width: 90%;
    border-radius: 15px;
    z-index: 0;
}

/* Section 7 */

.section7 {
    background-color: #171717;
    border-radius: 15px;
    margin: 120px 100px;
    padding-top: -20px;
    padding-bottom: 5px;
    display: block;
}

.section7 header {
    margin-top: 20px;
    text-align: center;
}

.section7 h3 {
    margin-top: -10px;
}

.section7 .wrapper {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 50px;
    margin-top: 50px;
}

.drop-zone {
    width: 400px;
    height: 300px;
    float: left;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-self: center;
    border: 3.5px dashed black;
}

.drop-zone--over {
    opacity: 0.5;
}

#draggable-element {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url("images/dragndropimg.jpg");
}

/* Section 8 */

.section8 {
    background-color: #171717;
    border-radius: 15px;
    margin: 120px 100px;
    padding-top: -50px;
    padding-bottom: 40px;
    display: block;
}

.section8 header {
    margin-top: 70px;
    text-align: center;
}

.section8 h1 {
    margin-left: 20px;
}

.section8 h3 {
    margin-top: 5px;
}

.local-storage {
    display: block;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 0;
}

.local-storage h2 {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #BCE138;
}

.local-storage input {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.local-storage #change-content {
    margin-bottom: 50px;
}

.local-storage button {
    margin: 0 10px;
}

/* Footer */

footer {
    background-color: #D5FF3F;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer h1 {
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-right: 5%;
    font-weight: 900;
}


@media screen and (max-width: 768px) {

    body {
        display: block;
        justify-content: center;
        align-items: center;
    }

    /* Navigation */

    nav {
        justify-content: space-between;
    }

    nav .menu {
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #171717;
        transition: top 1s ease;
        display: none;
    }

    nav .menu li {
        margin-bottom: 20px;
    }

    nav .menu .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .open-menu {
        display: block;
    }

    nav .menu li a:hover {
        background: none;
        color: #D5FF3F;
        font-size: 1rem;
    }

    /* Main */

    .wrapper {
        margin: 95px 100px;
        display: block;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    
    .wrapper h1, h3, p {
        padding-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }
    
    .wrapper h1 {
        font-size: 4rem;
    }
    
    .wrapper h3 {
        margin-top: -22px;
        font-size: 3rem;
    }
    
    .wrapper p {
        margin-top: 50px;
        font-size: 1rem;
        color: #C4C4C4;
        padding-right: 0;
    }
    
    .wrapper #img1 {
        width: 567px;
        border-radius: 15px;
        margin-top: 50px;
    }

}

@media screen and (max-width: 426px) {

    /* Main */

    .wrapper {
        margin: 90px 60px -40px 60px;
    }
    
    .wrapper h1 {
        font-size: 2rem;
    }
    
    .wrapper h3 {
        margin-top: -10px;
        font-size: 1.5rem;
    }
    
    .wrapper p {
        margin-top: 20px;
        font-size: 0.8rem;
    }
    
    .wrapper #img1 {
        width: 303px;
        border-radius: 15px;
        margin-top: 30px;
    }

}

@media screen and (max-width: 376px) {

    /* Main */

    .wrapper h1 {
        font-size: 1.8rem;
    }
    
    .wrapper h3 {
        font-size: 1.4rem;
    }
    
    .wrapper p {
        font-size: 0.7rem;
    }
    
    .wrapper #img1 {
        width: 255.7px;
    }

}

@media screen and (max-width: 321px) {

    /* Main */

    .wrapper h1 {
        font-size: 1.5rem;
    }
    
    .wrapper h3 {
        margin-top: -5px;
        font-size: 1.1rem;
    }
    
    .wrapper p {
        font-size: 0.68rem;
    }
    
    .wrapper #img1 {
        width: 200px;
    }

}